body{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: aqua;
    
}

.container-principal{
    display: grid;
    grid-column: 5/26;
    grid-row: 1/30;
    background-color: white;
}

.cuerpo{
    background-color: bisque;
    display: grid;
    grid-column:12/18;
    grid-row: 5/26;
    border-radius: 0 0 30px 30px;
    

}

.contenedor-pantalla{
    background-color: blue;
    display: grid;
    grid-column: 12/18;
    grid-row: 5/17;
    border: 15px solid red;
    border-radius: 0 0 30px 30px;


}
.pantalla{
    background-color: rgb(0, 12, 12);
    display: grid;
    grid-row: 6/15;
    grid-column: 13/17;
    border: 5px red solid;


}
.power{
    display: grid;
    grid-column: 12/13;
    grid-row: 9/10;
}




